.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px
}

.nav-title{
  font-weight: 800;
  font-size: 40px;
  color: #4E47FF
}

nav li {
 list-style: none;
text-decoration: none;
}
nav li a{
  display: flex;
}


.btn-primary{
  background-color:#4E47FF ;
 color: white;
 font-weight: bold;
 padding: 18px 35px;
 border: none;
 border-radius: 5px;
 font-size: 20px;
}

.btnm-primary{
  background-color: #4E47FF;
  color: white;
  font-weight: bold;
  padding:10px 20px;
  border: none;
  border-radius: 5px;
  font-size:15px ;
}

.banner-content{
  text-align: center;
}


.header{
  background-image: url('../Assets/Hero-bg.png');
}

.firts-section{
  margin-bottom: 120px;
}

.banner-title{
  font-weight: bold;
  font-size: 35px;
}

.banner{ 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 130px;
}

.banner-first-pic{
  border-radius: 48px;
}

.section-title{
  font-size: 30px;
  font-weight: bold;
  color: #252432;
}

.secondary-bg{
  background-color:#E6E6FA ;
  border-radius:25px ;
  max-width: 1140px;
  margin: 0 auto ;
  text-align: center;
  padding: 40px  20px;
  margin-top:130px ;
}

.item-title{
  font-weight:900;
  color: #4E47FF;
  
}


.about-items{
  display: flex;
  justify-content: space-around;
}


.text-center{
  text-align: center;
}

.skills-container{
  display: flex;
  gap:24px;
}

.skill{
  padding: 30px ;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
}

main section{
  margin:130px ;
}

.ready{
  text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.my-img{
  display: flex;
  justify-content:center ;
  align-items: center;
  padding: 20px ;
  border-radius: 50px
  
}

.row{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}